.btn-container {
    width: auto;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4em;
    flex-wrap: wrap;

    position: relative;
}
.botao-contato {
    flex-basis: 160px;
    width: 150px;

    padding: 10px;

    text-align: center;

    position: relative;
    z-index: 900;

    border-radius: 2em;
    cursor: pointer;

    font-size: 1.3em;
    font-weight: bolder;

    color: var(--primary-color);
    background: transparent;
    border: 2px solid var(--primary-color);
}

.botao-contato#gradient-hover::before, .botao-link:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 0;
    height: 100%;

    background-image: var(--gradient-theme);
    transition: all .5s;
}
.botao-contato#gradient-hover:hover::before, .botao-link:hover::before {
    width: 100%;
}
.botao-contato#gradient-hover:hover {
    color: var(--seconday-color);
}

.btn-gradient {
    color: var(--secondary-color);
    background: var(--gradient-theme);
    border: 0;
}

.btn-gradient:hover {
    font-size:1.4em;
}

.arrow-container {
    width: 40px;
    height: 40px;

    display: none;
    align-items: center;
    justify-content: center;

    background: var(--secondary-theme-color);
    z-index: 999;

    border-radius: 50%;
    padding: 4px;

    position: fixed;
    right: 1em;
    bottom: 1em;

    transition: all .6s;
} 

.more-projects {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.arrow-container > img {
    width: 100%;
    height: auto;
}
.arrow-container:hover {
    background: var(--primary-theme-color);
}