#services {
    width: 100%;
    height: fit-content;

    align-items: center;
    justify-content: center;

    gap: 4em;
}

.slider {
    padding: 4px;

    display: inline-flex;

    border-radius: 4px;

    transition: all .5s;
}
.slider:hover {
    background: #222;
}

.slider > article {
    text-align: center;
    
    max-width: 450px;
    min-width: 300px;
    
    margin: auto;
    padding: 3px;
}
.slider > article > h3 {
    font-size: max(min(8vw, 3em), 1.5em);
}
.slider > article > p {
    text-align: center;
    font-size: max(min(8vw, 1.8em), 1.3em);
    padding: 5px;
}

.dev-icon {
    min-width: 90px;
    max-width: 140px;
    height: auto;
}